<p>WELCOME TO EXPLORING THE UNIVERSE!! This is a site that will allow to explore the universe with the help of a picture that will update everyday! once you have left comments on a picture you will be able to edit or delete them when you go to the saved comments tab of the website. </p>

<% if (user) { %>
    <li><a href="/users/picOfTheDay">Picture of the Day</a></li>
    <li><a href="/comments">Saved Content</a></li>
    <li><a href="/users/logout">Logout</a></li>
<% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/users/login">Login</a></li>
<% } %>