<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Project 2 Auth</title>
</head>
<body>
    <h1>Exploring the Universe</h1>
    <nav>
        <ul>

            <% if(user) { %>
                <li><a href="/users/profile">Image of the Day</a></li>
                <li><a href="/users/comments">Saved Comments</a></li>
                <li><a href="/users/logout">Logout</a></li>
           <% } else { %>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/users/login">Login</a></li>
           <% } %>
        </ul>
    </nav>
    <%- body %> 
</body>
</html>