@import 'shared/variables.css';


h1{
    display: flex;
    justify-content: center;
}


body {
    font-family: 'Oribitron';
    font-size: 15px;
    background: linear-gradient(to top, var(--color-backgorund-dark), var(--color-background-light));
}
