<h2><%= user.email%> Comments</h2>

<% userComments.forEach(comment => { %>
<ul>
    <p> <%=comment.comment %></p>
    <a href="/comments/<%= comment.id%>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `comments/${comment.id}`}) %>
</ul>
 <% }) %>

