<h2>Edit Comment</h2>
<form action="/comments/<%= userComments.id %>?_method=PUT" method="POST">
    <%- include('../partials/formFields')%>
    <a href="/comments">Cancel</a>
    <button type="submit">Update</button>
</form>