
<h2><%= user.email%>'s profile</h2>
<% userImages.forEach(image => { %>
    <ul>
        <img src="<%= image.url %>" alt="picture-of-the-day" />
    </ul>
<% }) %>

<% comments.forEach(comment => { %>
    <ul>
        <p><%= comment.comment %></p>
    </ul>
<% }) %>
